/*board*/
.main {
  min-height: 500px;
}
.main h2 {
  margin: 30px 0;
}

.error {
  font-size: 12px;
  color: #f00;
  margin-top: 10px;
}
#viewModal .modal-content {
  white-space: pre-wrap;
}

.even td,.even th {
  background-color: #ccc !important;
}

ul {
  padding-left: 0;
}
.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 0;
  border-bottom:1px solid #eee;
}
.comment .date {
  font-size: 12px;
}
.btn-del {
  cursor: pointer;
}
.writerInfo{
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-start;
  font-size: 12px;
  margin-left: 50px;
  min-width: 120px;
}
.text-box{
  width: 900px;
}

.input-file-button{
  padding: 6px 25px;
  background-color:#FF6600;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.gnb_li .nav-pills .gnb_login .gnb_txt,
.gnb_li .nav-pills .gnb_myPage .gnb_txt {
  color: black;

  text-decoration: none !important;
}

/*member*/
.findPassword {
  font-size: 15px;
  color: #c4c8cb;
}
.join{
  width: 1200px;
}
.valid {
  font-size: 15px;
  color: forestgreen;
}
.invalid {
  font-size: 15px;
  color: red;
}
.error {
  font-size: 15px;
  color: red;
}